<h1>About</h1>
<p><b>We curate unbooked vacation rentals and show you the best values in each city so you can book them easily and confidently.</b></p>

<p>We are currently only listing properties in New York, but will be expanding nationally soon.</p>

<p>Please email Sungho @ thesunghoyoo@gmail.com if you're interested in listing your property.</p>