<div id="banner-container" class="row-fluid">
	<div id="headline-container" class="container">
		<h1 id="header-font">
			<center>Book an Awesome Condo Tonight!</center>
		</h1>
		<lead>
			<center  id="subheader-font">We curate the day's best unbooked condo rentals at 12pm EST so you can book them easily and confidently.</center>
		</lead>
	</div>
	<center>
		<div id="choose_city" class="btn-group">
		  <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
		    Choose A City   
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><%= link_to "New York City, NY", newyork_path %><li>
		    <li>Austin Coming Soon</li>
		    <li>Houston Coming Soon</li>
		  </ul>
		</div>
	</center>
</div>   