<h1><center>Book an Awesome Condo Tonight!</center></h1>
<lead><center>We curate unbooked vacation rentals and show you the best values in each city so you can book them easily and confidently.</center></lead>
<%= render 'layouts/property1' %>
<%= render 'layouts/property2' %>
<%= render 'layouts/property3' %>