<div id= "listyourplace-container" class= "row-fluid">
	<div class="container" style="text-align: center">
			<div id= "listyourplace-header-container" class="container">
			<h1 id= "listyourplace-header-font">Are you passing up on free money?</h1>
			<p id= "listyourplace-subheader-font">Fill up those "one-off days" between bookings.</p>
			</div>
		</br>
			<p id="paragraph-container">Filling up just 3-4 empty nights every month could lead to an additional 36 to 48 booked nights every year. </br></br>That's over a month of extra revenue!
			</p>

		</br>
		</br>

		<h2 id="listyourplace-header2-font">Apply</h2>

		</br>
		<div class="container" style="width: 400px">
				<script type="text/javascript" src="http://form.jotform.us/jsform/33006108694148"></script>
		</div>
	</div>
</div>