</br>

<div class="container">
	<h1>Midtown 58</h1>

	<p style="color: grey">Midtown</p>

</br>

<p>A cut above the rest! This Midtown Manhattan apartment leaves you a short walk from some of the boroughs most well known attractions. Whether you’re looking to relax in a quiet neighborhood park or enjoy the world famous Central Park, hangout in Times Square, admire the naval ship and fighter jets at the Intrepid Museum, or experience the different cuisines in Hell’s Kitchen, it’s all here!</p>

<p>As you walk into this gorgeous one bedroom unit, you can’t help but notice your heart skip a beat when you look through the double size window . From the comfort of the living room, you can admire the tranquility of Clinton Park and the Hudson River, It doesn’t get much better than that! Besides the view, this unit offers top of the line kitchen appliances, a 46-inch flat screen TV with cable and Net-Flix enabled DVD player, free of charge. The gorgeous brown leather sofa folds out into a comfortable full sized bed. </p>

<p>With this location you’ll have it all! The peaceful breeze of the Hudson just a short walk to the west and the hustle and bustle of Times Square, a short 10 minute walk from your front door! If you’re a foodie, enjoy the convenience of thousands of different cuisines in your backyard – Hell’s Kitchen! Are you a fan of warships and fighter jets? Walk a few blocks to the south and you’ll be setting foot in the Intrepid Museum. Whatever it is that brings you to NYC, you’ll find it nearby without having to sacrifice a quite night when it’s time to rest up for the next day and your next big adventure in the concrete jungle!</p>
</br>

	<h2 style="font-size: 30px">Accommodations and Amenitites</h2>
		<div class="container pull-left" style="width: 400px;">
			<div style="float: left; width: 50%;">
				<ul>
          <li>Accomodates: 6</li>
          <li>Bedrooms: 1</li>
          <li>Bathrooms: 1</li>
          <li>Free wifi</li>
          <li>Elevator</li>
          <li>Hair Dryer</li>
          <li>Towels Provided</li>
        </ul>
      </div>
      <div style="float: right; width: 50%;">
        <ul>
          <li>Living Room - 2 sleep sofas /futons</li>
          <li>Washer/Dryer</li>
          <li>Toilet Paper</li>
          <li>Linens Provided</li>
          <li>Air Conditioning</li>
          <li>Iron & Board</li>
          <li>Heating</li>
				</ul>
			</div>
		</div>
</div>
</br>
<div class="container">
	<p style="font-size: 16px"><b>Latest check in: 4pm</b></p> 
	<p style="font-size: 16px"><b>Latest check out: 11am</b></p> 
</div>
<div class="container"> 
	<h1 style="font-size: 30px">Photos</h1>
	<ul class="thumbnails">
  <li class="span4">
    <a href="http://imgur.com/a/efMrE#0" class="thumbnail" target="blank">
      <img data-src="#" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/dYL2hI3.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/efMrE#1" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/460m0S8.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/efMrE#8" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/RKIjVsD.jpg">
    </a>
  </li>
    <li class="span4">
    <a href="http://imgur.com/a/efMrE#10" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/2MkicgU.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/efMrE#12" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/fAkbeXz.jpg">
    </a>
  </li>
    <li class="span4">
    <a href="http://imgur.com/a/efMrE#13" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/DddygdX.jpg">
    </a>
   	</li>
	</ul>
</div>
<div class="container" style="padding-bottom: 30px; text-align: center;">
    <%= link_to "Back", :back, class: "btn btn-large btn-info" %>
    <a class="btn btn-large btn-success" href="inquiries/new">Book it!</a>
</div>