</br>

<div class="container">
	<h1>Midtown 41</h1>

	<p style="color: grey">Midtown: 53rd Street between 10th and 11th Avenues</p>

</br>

<p>A cut above the rest! This Midtown Manhattan apartment leaves you a short walk from some of the boroughs most well known attractions. Whether you’re looking to relax in a quiet neighborhood park or enjoy the world famous Central Park, hangout in Times Square, admire the naval ship and fighter jets at the Intrepid Museum, or experience the different cuisines in Hell’s Kitchen, it’s all here!</p>

<p>As you walk into this gorgeous one bedroom unit, you can’t help but notice your heart skip a beat when you look through the floor-to-ceiling windows. From the comfort of the living room, you can admire the Manhattan Skyline in all it's glory, It doesn’t get much better than that! Besides the view, this unit offers top of the line kitchen appliances, a 32-inch flat screen TV with cable and Net-Flix enabled DVD player, free of charge.</p>

<p>The gorgeous white leather sofa folds out into a comfortable full sized bed. In the master bedroom, you will be able to continue admiring the views of the city along with river views or watch your favorite show on the 32 inch flat screen TV as you lay down in the comfort of your bed!. The bathroom in the unit with marble finishes and large bathtubs. The unit is also equipped with a washer and dryer.</p>

<p>With this location you’ll have it all! The peaceful breeze of the Hudson just a short walk to the west and the hustle and bustle of Times Square, a short 10 minute walk from your front door! If you’re a foodie, enjoy the convenience of thousands of different cuisines in your backyard – Hell’s Kitchen!</p>

<p>Are you a fan of warships and fighter jets? Walk a few blocks to the south and you’ll be setting foot in the Intrepid Museum. Whatever it is that brings you to NYC, you’ll find it nearby without having to sacrifice a quiet night when it’s time to rest up for the next day and your next big adventure in the concrete jungle!</p>
</br>

	<h2 style="font-size: 30px">Accommodations and Amenitites</h2>
		<div class="container pull-left" style="width: 400px;">
			<div style="float: left; width: 50%;">
				<ul>
          <li>Accomodates: 6</li>
          <li>Bedrooms: 1</li>
          <li>Bathrooms: 1</li>
          <li>Living Room - 2 sleeper sofas</li>
          <li>Free wifi</li>
          <li>Hair Dryer</li>
          <li>Towels Provided</li>
        </ul>
      </div>
      <div style="float: right; width: 50%;">
        <ul>
          <li>Elevator</li>
          <li>Washer/Dryer</li>
          <li>Toilet Paper</li>
          <li>Linens Provided</li>
          <li>Air Conditioning</li>
          <li>Iron & Board</li>
          <li>Heating</li>
				</ul>
			</div>
		</div>
</div>
</br>
<div class="container">
  <p style="font-size: 16px"><b>Check in: 4pm</b></p> 
  <p style="font-size: 16px"><b>Check out: 11am</b></p> 
</div>
<div class="container"> 
	<h1 style="font-size: 30px">Photos</h1>
	<ul class="thumbnails">
  <li class="span4">
    <a href="http://imgur.com/a/YK2hs#0" class="thumbnail" target="blank">
      <img data-src="#" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/zKDa4Cw.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/aUuHS#2" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/3EnyaOT.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/YK2hs#4" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/sDWXm2V.jpg">
    </a>
  </li>
    <li class="span4">
    <a href="http://imgur.com/a/YK2hs#9" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/sko3jFa.jpg">
    </a>
  </li>
  <li class="span4">
    <a href="http://imgur.com/a/YK2hs#13" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/y6ZMVvq.jpg">
    </a>
  </li>
    <li class="span4">
    <a href="http://imgur.com/a/YK2hs#12" class="thumbnail" target="blank">
      <img data-src="holder.js/300x200" alt="360x270" style="width: 360px; height: 270px;" src="http://i.imgur.com/4Ut9T4B.jpg">
    </a>
   	</li>
	</ul>
</div>
<div class="container" style="padding-bottom: 30px; text-align: center;">
  <%= link_to "Back", :back, class: "btn btn-large btn-info" %>
  <a class="btn btn-large btn-danger" href="#">Already Booked :(</a>
</div>