@import 'bootstrap';

@import 'bootstrap-responsive';

.row-fluid {
	width:100%;
	*zoom:1
}

#header-font {
		font-size: 48px;
    color: white;
}

#subheader-font {
	color: white;
	font-size: 16px;
}

#choose_city {
	padding-top: 50px;
}

#headline-container {
	text-align: center;
	padding-top: 200px;
}

#banner-container {
	background-image: url(http://i.imgur.com/rIOiSRg.png);    
	  background-position-x: initial;
		background-position-y: initial;
		background-size: cover;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: #000;
	height: 100%;
	width: 100%;
	background-size: cover;
	border: none;
		border-top-color: initial;
		border-top-style: none;
		border-top-width: initial;
		border-right-color: initial;
		border-right-style: none;
		border-right-width: initial;
		border-bottom-color: initial;
		border-bottom-style: none;
		border-bottom-width: initial;
		border-left-color: initial;
		border-left-style: none;
		border-left-width: initial;
}