<div class="container-fluid" style="text-align: center">
	<h1>Reservation Information</h1>
	<p>Please fill out the form below so we can pass on your reservation information to the property manager. </br>Your reservation will be complete when you complete the payment process on the next page.</p>

	<%= render 'form', :inquiry => @inquiry %>
</div>