<div class="row-fluid">
  <div class="span4">
    <a href="https://www.airbnb.com/rooms/943528" target="_blank"> <img src="http://i.imgur.com/y3OIGeV.png" alt="Bedroom"></a>
  </div>
  <div class="span8">
    <h2>Beside Convention Ctr & SXSW Venues</h2>
    <p><i>What you'll notice first: The Leather Furniture</i></p>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 3</p>
    <p> Located on East 4th Street, Austin, TX 78701, United States</p>
    <p style="font-size: 17px"><strike> $200 </strike></br>
    <b style="font-size: 20px">$100</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="https://www.airbnb.com/rooms/943528" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>

<hr class="featurette-divider">
