<div class="row-fluid">
  <div class="span4">
    <a href="http://www.vrbo.com/3638416ha#photos" target="_blank"> <img src="http://imagesus.homeaway.com/mda01/3a3c8643-e653-4bff-82f1-e13c7f874202.1.10" alt="Bedroom"></a>
  </div>
  <div class="span8">
    <h2>Unbeatable Downtown Location!</h2>
    <p><i>What you'll notice first: The Disco Ball</i></p>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 4</p>
    <p> Located 2 blocks to 6th st, the warehouse district and lady bird lake</p>
    <p style="font-size: 17px"><strike> $149 </strike></br>
    <b style="font-size: 20px">$75</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="http://www.vrbo.com/3638416ha" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>

<hr class="featurette-divider">
