<div class="row-fluid">
  <div class="span4">
    <a href="http://www.vrbo.com/3636062ha#photos" target="_blank"> <img src="http://imagesus.homeaway.com/mda01/2c7730b7-b9f6-4ae9-80eb-25bc9a0f099c.1.10" alt="Bedroom"></a>
  </div>
  <div class="span8">
    <h2>Historic Home: Eleven Oaks Suite </h2>
    <p><i>What you'll notice first: The Homey Vibe</i></p>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 2</p>
    <p> Located 4 blocks from the captial </p>
    <p style="font-size: 17px"><strike> $175 </strike></br>
    <b style="font-size: 20px">$85</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="http://www.vrbo.com/3636062" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>

