<div class="row-fluid">
  <div class="span4">
    <a href="https://www.airbnb.com/rooms/718098" target="_blank"> <img src="http://i.imgur.com/8oepXHn.png" alt="Bedroom"></a>
  </div>
  <div class="span8">
    <h2>Downtown Apartment 3 blocks to 6th</h2>
    <p><i>What you'll notice first: The Open Floorplan</i></p>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 4</p>
    <p> Located on Sandra Muraida Way, Austin, TX 78703, United States</p>
    <p style="font-size: 17px"><strike> $349 </strike></br>
    <b style="font-size: 20px">$200</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="https://www.airbnb.com/rooms/718098" target="_blank">View details »</a>  <a class="btn btn-success" href="#">Book through us for the exclusive discount and no hassle reservation.</a>
    </p> 
  </div>
</div>

<hr class="featurette-divider">
