<div class="row-fluid">
  <div class="span4">
    <a href="http://www.homeaway.com/vacation-rental/p940131#photos" target="blank"> <img src="http://i.imgur.com/zKDa4Cw.jpg" alt="Living Room"></a>
  </div>
  <div class="span8">
    <h2>Midtown 41</h2>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 6</p>
    <p> Location: Midtown</p>
    <p style="font-size: 17px"><strike> $349 </strike></br>
    <b style="font-size: 20px">$175</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="http://www.homeaway.com/vacation-rental/p940131" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>
  <hr class="featurette-divider">

