<div class="row-fluid">
  <div class="span4">
    <a href="http://imgur.com/a/YK2hs#0" target="blank"> <img src="http://i.imgur.com/zKDa4Cw.jpg" alt="Living Room"></a>
  </div>
  <div= class="span8">
    <h2>Midtown 41</h2>
    <p>1 BEDROOM 1 BATH SLEEPS 4-5 - HUDSON RIVER VIEWS</p>
    <p>Located within 3 blocks of 53rd & 10th Ave, New York</p>
    <p><strike>$618</strike> <b>$350/night</b></p>
    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 2 reviews</p>
    <p><a class="btn btn-info" href="http://www.homeaway.com/vacation-rental/p940131" target="_blank">View details »</a>  <a class="btn btn-success" href="#">Book It Now »</a></p> 
  </div>
  <hr class="featurette-divider">

