<div class="row-fluid">
  <div class="span4">
    <a href="http://www.homeaway.com/vacation-rental/p987191#photos" target="blank"> <img src="http://i.imgur.com/dYL2hI3.jpg" alt="Living Room"></a>
  </div>
  <div class="span8">
    <h2>Midtown 58</h2>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 6</p>
    <p><i>What you'll notice first: Great for entertaining</i></p>
    <p> Located within 3 blocks of 53rd & 10th Ave, New York</p>
    <p style="font-size: 17px"><strike> $349 </strike></br>
    <b style="font-size: 20px">$175</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="http://www.homeaway.com/vacation-rental/p987191" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>