<hr class="featurette-divider">
<div class="row-fluid">
  <div class="span4">
    <a href="http://imgur.com/a/2QRSl" target="blank"> <img src="http://i.imgur.com/IyUzszV.jpg" alt="Living Room"></a>
  </div>
  <div= class="span8">
    <h2>Rockefeller 23</h2>
    <p>1 BEDROOM 1 BATH SLEEPS 4-5 - EMPIRE STATE BUILDING & SKYLINE VIEWS</p>
    <p>Located on West 48th & 5th Ave, New York</p>
    <p><strike>$1029</strike> <b>$500/night</b></p>
    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 58 reviews</p>
    <p><a class="btn btn-info" href="http://www.homeaway.com/vacation-rental/p223848" target="_blank">View details »</a>  <a class="btn btn-success" href="#">Book It Now »</a></p> 
  </div>
  <hr class="featurette-divider">

