<div class="row-fluid">
  <div class="span4">
    <a href="http://www.vrbo.com/355897#photos"> <img src="http://imagesus.homeaway.com/mda01/f1bc35c5-1974-4274-a64d-87d9be0194fc.1.10" alt="Bedroom"></a>
  </div>
  <div class="span8">
    <h2>Downtown Loft W/ Balcony Perfectly Located on 6th</h2>
    <p><i>What you'll notice first: The location</i></p>
    <p style="color: grey">1 Bedroom/1 Bath</br>Sleeps 4</p>
    <p> Located across the street from the historic Driskill Hotel.</p>
    <p style="font-size: 17px"><strike> $150 </strike></br>
    <b style="font-size: 20px">$75</b> </br> CRTonight Price </p>
    <p>
      <a class="btn btn-info" href="http://www.vrbo.com/355897#" target="_blank">View details »</a>  <a class="btn btn-danger" href="#">Already Booked :(</a>
    </p> 
  </div>
</div>

